# <center> Gold Price Prediction

## Import Libraries

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

## Task 1: Initial Data Exploration

In [19]:
df = pd.read_csv("gold_price.csv",parse_dates=['Date'],infer_datetime_format=True)
df.head()

        Date  USD (AM)  USD (PM)  GBP (AM)  GBP (PM)  EURO (AM)  EURO (PM)
0 2001-01-02    272.80    271.10   183.026   181.617    288.677    287.334
1 2001-01-03    269.00    267.15   178.916   177.390    281.823    281.655
2 2001-01-04    268.75    267.10   178.869   178.352    282.538    282.049
3 2001-01-05    268.00    267.40   178.488   178.148    280.775    280.882
4 2001-01-08    268.60    268.30   178.769   178.664    282.410    282.481

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4718 entries, 0 to 4717
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4718 non-null   datetime64[ns]
 1   USD (AM)   4718 non-null   float64
 2   USD (PM)   4682 non-null   float64
 3   GBP (AM)   4718 non-null   float64
 4   GBP (PM)   4682 non-null   float64
 5   EURO (AM)  4718 non-null   float64
 6   EURO (PM)  4682 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 258.1 KB

In [21]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4682 entries, 0 to 4717
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       4682 non-null   datetime64[ns]
 1   USD (AM)   4682 non-null   float64
 2   USD (PM)   4682 non-null   float64
 3   GBP (AM)   4682 non-null   float64
 4   GBP (PM)   4682 non-null   float64
 5   EURO (AM)  4682 non-null   float64
 6   EURO (PM)  4682 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 292.6 KB

## Task 2: Create Train & Test Sets

In [22]:
x=df.drop(columns=['Date'])
y=df['Date']

In [23]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=0.33,random_state=34)

## Task 3: Develop Models & Predictions

In [24]:
dtr=DecisionTreeRegressor(max_depth=None,random_state=5)
dtr.fit(xtrain,ytrain)
ypredict=dtr.predict(xtest)